<!--
* Vista index-tabla-prueba-uno-page.component.html
*
* @author  Carlos Anchundia
* @date    2023-12-08
* @name    index-tabla-prueba-uno-page.component.html
* @package presentation
* @subpackage tabla-prueba-uno
-->

<div class="card">
	<div class="card-header"><h2>{{titulo}}<small>Datos generales</small></h2>
		<ul class="accion mt-3" title="Agregar {{titulo}}">
			<li><a class="btn btn-info" [routerLink]="['/tabla-prueba-uno', -1]"><i class="fa fa-add"></i></a></li>
		</ul>
	</div>

	<div class="card-body card-padding">

		<div class="row">

			<div class="col-md-6 col-sm-6 col-xs-6">
				<div class="input-group form-group">
					<span class="input-group-text"><i class="md fa-solid fa-phone"></i></span>
					<div class="dtp-container dropdown fg-line">
						<input type="text" class="form-control" id="busqueda" name="busqueda" value="" placeholder="busqueda" maxlength="128" (keyup.enter)="obtenerTablaPruebaUno()"/>
					</div>
				</div>
			</div>

			<div class="col-md-2 col-sm-2 col-xs-2">
				<div class="input-group form-group">
					<span class="input-group-text"><i class="md fa-solid fa-person-digging"></i></span>
						<div class="fg-line select">
						<select class="form-control" name="tablaPruebaUnoPadre">
							<option value="-1">Todas tus tablaPruebaUno padres </option>
							<option *ngFor="let opt of tablaPruebaUnoPadre " [value]="opt.tabla_prueba_uno_padre">{{opt.nombre_padre}}</option>
						</select>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 col-xs-4">
				<div class="input-group form-group">
					<button class="btn btn-info" (click)="obtenerTablaPruebaUno()"><i class="md md-search"></i>Buscar</button>
				</div>
			</div>

		</div>
	</div>

	<div class="text-center mt-5" [hidden]="datosGridTablaPruebaUno.length > 0">
		<div style="font-size: 16px;">No hay elementos para mostrar</div>
	</div>

	<table class="table align-middle mb-0 bg-white" mat-table [dataSource]="dataSource">

		<ng-container matColumnDef="id_tabla_prueba_uno">
			<th mat-header-cell *matHeaderCellDef> Id </th>
			<td mat-cell *matCellDef="let element"> {{element.id_tabla_prueba_uno}} </td>
		</ng-container>

		<ng-container matColumnDef="nombre_tabla_uno">
			<th mat-header-cell *matHeaderCellDef> Nombre </th>
			<td mat-cell *matCellDef="let element">
				<div class="d-flex align-items-center">
				<img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px" class="rounded-circle" />
				<div class="ms-3">
					<p class="fw-bold mb-1">{{element.nombre_tabla_uno + ' - ' + element.nombre_tabla_uno}} </p>
					<p class="text-muted mb-0">{{element.nombre_tabla_uno}}</p>
				</div>
			</div>
			</td>
		</ng-container>

		<ng-container matColumnDef="apellido_tabla_uno">
			<th mat-header-cell *matHeaderCellDef> Apellido </th>
			<td mat-cell *matCellDef="let element"> {{element.apellido_tabla_uno}} </td>
		</ng-container>

		<ng-container matColumnDef="numero_entero_tabla_uno">
			<th mat-header-cell *matHeaderCellDef> Número entero </th>
			<td mat-cell *matCellDef="let element"> {{element.numero_entero_tabla_uno}} </td>
		</ng-container>

		<ng-container matColumnDef="numero_decimal_tabla_uno">
			<th mat-header-cell *matHeaderCellDef> Número decimal </th>
			<td mat-cell *matCellDef="let element"> {{element.numero_decimal_tabla_uno}} </td>
		</ng-container>

		<ng-container matColumnDef="fecha_creacion_tabla_uno">
			<th mat-header-cell *matHeaderCellDef> Fecha creación </th>
			<td mat-cell *matCellDef="let element"> {{element.fecha_creacion_tabla_uno | date : "YYYY-MM-dd"}} </td>
		</ng-container>

		<ng-container matColumnDef="fecha_actual_tabla_uno">
			<th mat-header-cell *matHeaderCellDef> Fecha actual </th>
			<td mat-cell *matCellDef="let element"> {{element.fecha_actual_tabla_uno | date : "YYYY-MM-dd" }} </td>
		</ng-container>

		<ng-container matColumnDef="es_tabla_uno">
			<th mat-header-cell *matHeaderCellDef> Es tabla uno </th>
			<td mat-cell *matCellDef="let element"> {{element.es_tabla_uno}} </td>
		</ng-container>

		<ng-container matColumnDef="estado_tabla_uno">
			<th mat-header-cell *matHeaderCellDef> Estado </th>
			<td mat-cell *matCellDef="let element"> <span class="badge badge-warning rounded-pill d-inline">{{element.estado_tabla_uno}}</span> </td>
		</ng-container>

		<ng-container matColumnDef="telefono_tabla_uno">
			<th mat-header-cell *matHeaderCellDef> Teléfono </th>
			<td mat-cell *matCellDef="let element"> {{element.telefono_tabla_uno}} </td>
		</ng-container>

		<ng-container matColumnDef="accion">
				<th mat-header-cell *matHeaderCellDef> Acción </th>
			<td mat-cell *matCellDef="let element" class="text-center" >
				<a [routerLink]="['/tabla-prueba-uno/', element.id_tabla_prueba_uno]"><i class="md fa-solid fa-file-pen"></i></a>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="['id_tabla_prueba_uno','nombre_tabla_uno','apellido_tabla_uno','numero_entero_tabla_uno','numero_decimal_tabla_uno','fecha_creacion_tabla_uno','fecha_actual_tabla_uno','es_tabla_uno','estado_tabla_uno','telefono_tabla_uno','accion']"></tr>
		<tr mat-row *matRowDef="let row; columns:['id_tabla_prueba_uno','nombre_tabla_uno','apellido_tabla_uno','numero_entero_tabla_uno','numero_decimal_tabla_uno','fecha_creacion_tabla_uno','fecha_actual_tabla_uno','es_tabla_uno','estado_tabla_uno','telefono_tabla_uno','accion']"></tr>

	</table>

	<mat-paginator [length]="datosGridTablaPruebaUno.length" [pageSize]="10"

  [pageSizeOptions]="[5, 10]"
  aria-label="Select page" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page">
	</mat-paginator>

</div>
