::ng-deep body {
  margin: 0;
  background: url(../../../../assets/login/fondo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: roboto;
  font-size: 11px;
  line-height: 1.42857143;
  color: #5e5e5e;
  font-weight: 400;
  padding-top: 4%;
  /* font-size: 13px; */
  /* font-family: sans-serif !important; */
}

.form-control:not(:disabled) {
  color: #000;
  background: transparent;
  color: rgba(88, 89, 91);
}

#logoApp img {
  height: 15%;
}

/* .lc-block {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 11px rgba(0, 0, 0, .27);
  border-radius: 3px;
  padding: 70px 60px;



} */
.fg-line .form-control:not(:disabled) {
  background: transparent;
  color: rgba(88, 89, 91);
}


.login-content .lc-block {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 11px rgba(0, 0, 0, .27);
  border-radius: 2px;
  padding: 60px 40px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 30%;
}

.bgm-teal {
  background-color: #009688 !important;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  border-radius: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  outline: 0 !important
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none
}

.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

/* .btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none
} */

.btn {
  -webkit-transition: all;
  -moz-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  border: 0;
  text-transform: uppercase
}

.btn[class*=bgm-] {
  color: #fff;
}



.btn:not(.btn-link):not(.btn-float):not(.command-edit):not(.command-delete):not(.selectpicker) {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.loginItemLeft {
  text-align: left;
  margin: 20px 0 20px 0;

}

.loginItemRight {
  text-align: right;
  margin: 20px 0 20px 0;
}

.loginButton {
  position: absolute;
  left: 44%;
  margin-top: 22px;
  /* bottom: 198px; */
}

.loginButton button {
  border-radius: 50% !important;
  height: 75px;
  width: 75px;
}

a {
  color: #218D9D !important;
  text-decoration: none;
}


input:active,
input:focus {
  outline: 0;
  box-shadow: none !important
}

.form-control {
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  font-size: 11px;
}

.form-control:active,
.form-control:focus {
  border-bottom-color: #b4b4b4
}

.input-group {
  flex-wrap: inherit;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
}
/* .input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
} */

.input-group-text {
  font-size: 1.2rem;
  border: 0px solid;
  color: inherit;
  background-color: inherit;
}

.fg-line {
  position: relative;
  /* vertical-align: top; */
}
.fg-line.left {
  padding-left: 0.25rem !important;
}


.fg-line:not(.form-group) {
  display: inline-block;
  width: 100%
}

.fg-line .form-control {
  resize: none;
  border-radius: 0.25rem;
}
.fg-line .form-control:not(:disabled) {
  color: #000;
  background: transparent;
  color: rgba(88, 89, 91);
}

.fg-line .form-control:disabled {
  color: #9d9d9d;
  background: 0 0
}

.fg-line:not(.disabled):after,
.fg-line:not(.readonly):after {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  content: "";
  -webkit-transition: all;
  -moz-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms
}

.fg-line:not([class*=has-]):after {
  background: #218D9D
}

.fg-line.input-toggled:after {
  width: 100%
}

.fg-line.readonly .form-control {
  color: #9d9d9d;
  background: 0 0
}

.fg-line.fg-toggled:after {
  width: 100%
}

.fg-line.has-success:after {
  background: #4caf50
}

.fg-line.has-warning:after {
  background: #ffc107
}

.fg-line.has-error:after {
  background: #f44336
}

.has-success .fg-line:after {
  background: #4caf50
}

.has-warning .fg-line:after {
  background: #ffc107
}

.has-error .fg-line:after {
  background: #f44336
}

.fg-float {
  margin-top: 2px;
  position: relative
}

.fg-float .form-control {
  position: relative;
  background: 0 0;
  z-index: 1
}

/* Validation Stats */
/* &.has-success:after {
        background: @m-green;
    }

    &.has-warning:after {
        background: @m-amber;
    }

    &.has-error:after {
        background: @m-red;
    } */

    .ng-valid[required], .ng-valid.required  {
      border-left: 5px solid #42A948; /* green */
    }

    .ng-invalid:not(form)  {
      border-left: 5px solid #a94442; /* red */
    }

    div.alert {
      padding-top:initial;
      padding-bottom: initial;
    }
    .alert div {
      /* background-color: #fed3d3; */
      color: #820000;
      /* padding: 0.6rem; */
      padding-left: 2rem;
      padding-bottom: 0.2rem;
      /* margin-bottom: 0.4rem; */
      text-align: start;
    }

    .form-group {
      margin-bottom: 1rem;
    }

    label {
      display: block;
      margin-bottom: .5rem;
    }

    select {
      width: 100%;
      padding: .5rem;
    }
