<!-- <p>index-paciente works!</p> -->
<!-- <spinner-content [isRunning]="isRequesting"></spinner-content> -->
<!-- [hidden]="isRequesting" -->
<!-- container -->
<!-- <div class=""> -->
<div class="card">
  <div class="card-header">
    <h2>{{title}}: Historias clínicas<small>Datos personales y detalles clínicos</small></h2>

    <ul class="accion" data-toggle="tooltip" data-placement="left" title="Agregar {{title}}">
      <li>
        <a [routerLink]="['/paciente', -1]">
          <i class="md md-add"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class="card-body card-padding">
    <div class="row">

      <div class="col-sm-6">
        <div class="input-group form-group">
          <span class="input-group-text"><i class="md md-search"></i></span>
          <div class="dtp-container dropdown fg-line">
            <input id="busqueda" type='text' class="form-control" placeholder="Nombre o DNI"
              (keyup.enter)="obtenerPaciente()">
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="input-group form-group">
          <span class="input-group-text"><i class="md md-school"></i></span>
          <div class="fg-line select">
            <!-- [(ngModel)]="clinicWorker" (change)="selectClinicWorker($event.target.value)" -->
            <select class="form-control" name="clinicWorker">
              <option value="-1">Todas tus clínicas</option>
              <option *ngFor="let opt of clinicsWorker" [value]="opt.Id">{{opt.Name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="input-group form-group">
          <button class="btn btn-info" (click)="obtenerPaciente()"><i class="md md-search"></i>Buscar</button>
        </div>
      </div>

    </div>
  </div>


  <!-- -->
  <div class="text-center mt-5" [hidden]="datosGridPaciente.length > 0">
    <div style="font-size: 16px;">No hay elementos para mostrar</div>
  </div>


<div class="mat-elevation-z8">

  <table class="table align-middle mb-0 bg-white" mat-table [dataSource]="dataSource">

    <!-- id_paciente Column -->
    <ng-container matColumnDef="id_paciente">
      <th mat-header-cell *matHeaderCellDef> Cod. </th>
      <td mat-cell *matCellDef="let element"> {{element.id_paciente}} </td>
    </ng-container>

    <!-- nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex align-items-center">
          <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px" class="rounded-circle" />
          <div class="ms-3">
            <p class="fw-bold mb-1">{{element.nombre+ ' - ' + element.apellido}} </p>
            <p class="text-muted mb-0">j{{element.dni}}</p>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- apellido Column -->
    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex align-items-center">
          <div class="ms-3">
            <p class="fw-bold mb-1">{{element.apellido}} </p>
            <p class="text-muted mb-0">john.doegmail.com</p>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- dni Column -->
    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef> Dni </th>
      <td mat-cell *matCellDef="let element">{{element.dni}}</td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Contacto </th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex align-items-center">
          <div class="ms-3">
            <p class="fw-bold mb-1">{{element.email}} </p>
            <p class="text-muted mb-0">{{element.celular + ' - ' + element.telefono }}</p>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- fecha_nacimiento Column -->
    <ng-container matColumnDef="fecha_nacimiento">
      <th mat-header-cell *matHeaderCellDef> Fecha Nacimiento </th>
      <td mat-cell *matCellDef="let element">{{element.fecha_nacimiento | date: 'yyyy/MM/dd'}}
      </td>
    </ng-container>

    <!-- sexo Column -->
    <ng-container matColumnDef="sexo">
      <th mat-header-cell *matHeaderCellDef> Sexo </th>
      <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
    </ng-container>

    <!-- estado Column -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let element">
        <span class="badge badge-warning rounded-pill d-inline">{{element.estado}}</span>
      </td>
    </ng-container>

    <!-- accion Column -->
    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef> Acción </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <a [routerLink]="['/patiens/', element.id_paciente]"><i class="md fa-solid fa-file-pen"></i></a>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="['id_paciente','nombre','email','fecha_nacimiento','sexo','estado','accion']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id_paciente','nombre','email','fecha_nacimiento','sexo','estado','accion']"></tr>


  </table>


  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator> -->
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page">
  </mat-paginator>
</div>

<!-- </div> -->
<!-- </div> -->
