/* .pe-0-3{
  padding-left: 0.3em !important;
}
.me--1{
  margin-left: -1em !important;
}
.me--0-2{
  margin-left: -0.2em !important;
}
.me-0-2{
  margin-left: 0.2em !important;
}
.me--0-6{
  margin-left: -0.6em !important;
}
.pe-0-1{
  padding-left: 0.1em !important;
}

.ps-1-2{
  padding-right: 1.2em !important;;
} */

.pe-1-9{
  padding-right: 1.9em !important;
}
