<!DOCTYPE html>
<html>

<head>
  <title>A Meaningful Page Title</title>
</head>

<body>

  <div class="login-content">
    <div id="logoApp" class="text-center">
      <h1 class="f-300 pb-4">
        <img alt="" src="../../../../../assets/login/logoApp.png">
      </h1>
      <div class="row">
        <div class="md-12">

          <div class="lc-block" [ngClass]="registerToggled">
            <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
              <div class="mb-4">
                <div class="input-group">
                  <span class="input-group-text" id="basic-ci"><i class="fa fa-address-card"></i></span>
                  <div class="fg-line">

                    <input type="text" id="ci" name="ci" class="form-control" placeholder="Cédula" aria-describedby="basic-ci" required minlength="10" formControlName="ci" (onPaste)="this._validatorService.validatePaste($event)"
                      (keypress)="this._validatorService.validateOnlyNumber($event)">
                  </div>
                </div>
                <div *ngIf="this._validatorService.isValidFieldTouched(registerForm,'ci')" class="alert">
                  <div *ngIf="this._validatorService.isValidFieldRequired(registerForm, 'ci')">
                    {{this.menssage.required}}</div>
                  <div *ngIf="this._validatorService.isValidFieldMinlength(registerForm,'ci')">
                    {{this.menssage.min10Character}}
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <div class="input-group">
                  <span class="input-group-text" id="basic-names"><i class="fa fa-user"></i></span>
                  <div class="fg-line left1">

                    <input type="text" id="names" name="names" class="form-control" placeholder="Nombres" aria-describedby="basic-names" required maxlength="100" formControlName="names" (onPaste)="this._validatorService.validatePaste($event)"
                      (keypress)="this._validatorService.validateOnlyCharacter($event)">
                  </div>
                </div>
                <div *ngIf="this._validatorService.isValidFieldTouched(registerForm,'names')" class="alert">
                  <div *ngIf="this._validatorService.isValidFieldRequired(registerForm, 'names')">
                    {{this.menssage.required}}</div>
                  <div *ngIf="this._validatorService.isValidFieldMaxlength(registerForm,'names')">
                    {{this.menssage.max100Character}}
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <div class="input-group">
                  <span class="input-group-text left-1" id="basic-lastNames"><i class="fa fa-user-group"></i></span>
                  <div class="fg-line">

                    <input type="text" id="lastNames" name="lastNames" class="form-control" placeholder="Apellidos" aria-describedby="basic-astNames" required maxlength="100" formControlName="lastNames"
                      (onPaste)="this._validatorService.validatePaste($event)" (keypress)="this._validatorService.validateOnlyCharacter($event)">
                  </div>
                </div>
                <div *ngIf="this._validatorService.isValidFieldTouched(registerForm,'lastNames')" class="alert">
                  <div *ngIf="this._validatorService.isValidFieldRequired(registerForm, 'lastNames')">
                    {{this.menssage.required}}</div>
                  <div *ngIf="this._validatorService.isValidFieldMaxlength(registerForm,'lastNames')">
                    {{this.menssage.max100Character}}
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <div class="input-group">
                  <span class="input-group-text" id="basic-email"><i class="fa fa-envelope"></i></span>
                  <div class="fg-line left">
                    <input type="text" id="email" name="email" class="form-control" placeholder="Correo Electrónico" aria-describedby="basic-email" required maxlength="100" email="true" pattern="" formControlName="email"
                      (onPaste)="this._validatorService.validatePaste($event)" (keypress)="this._validatorService.validateOnlyCharacter($event)">
                  </div>
                </div>
                <div *ngIf="this._validatorService.isValidFieldTouched(registerForm,'email')" class="alert">
                  <div *ngIf="this._validatorService.isValidFieldRequired(registerForm, 'email')">
                    {{this.menssage.required}}</div>
                  <div *ngIf="this._validatorService.isValidFieldMaxlength(registerForm,'email')">
                    {{this.menssage.max100Character}}
                  </div>
                  <div *ngIf="this._validatorService.isValidFielPattern(registerForm,'email')">
                    {{this.menssage.invalidFormatMail}}
                  </div>
                </div>
              </div>

              <div class="mb-4">
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon2"><i class="fa fa-lock"></i></span>
                  <div class="fg-line left">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required passwordStrength formControlName="password" aria-label="Recipient's username" aria-describedby="basic-addon2"
                      (onPaste)="this._validatorService.validatePaste($event)">
                  </div>
                </div>

                <div *ngIf="this._validatorService.isValidFieldTouched(registerForm,'password')" class="alert">
                  <div *ngIf="this._validatorService.isValidFieldRequired(registerForm,'password')">{{menssage.required}}
                  </div>
                  <div *ngIf="this._validatorService.isValidFieldMinlength(registerForm,'password')">
                    {{menssage.min8Character}}
                  </div>
                  <div *ngIf="this._validatorService.isValidFielPasswordStrength(registerForm,'password')">
                    {{menssage.passwordLogin}}

                  </div>
                </div>

              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" formControlName="isProfesional">
                  <i class="input-helper"></i>
                  Soy un profesional
                </label>
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox" formControlName="isClinic">
                  <i class="input-helper"></i>
                  Tengo una clínica
                </label>
              </div>
              <div class="loginItemRight">
                ¿Ya tienes cuenta?

                <a data-block="#l-login" (click)="refirectToPages('login')">
                  Entrar
                </a>
              </div>
              <div class="checkbox">
                <label>

                  <span>Al crear aceptas los </span>
                  <a href="http://odontofy.com/terms-and-conditions-of-use" target="_blank"> términos y condiciones de uso</a>
                </label>
              </div>

              <div class="loginButton pb-4">
                <button class="btn bgm-teal">
                  Crear
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
