<dx-data-grid (onEditorPreparing)="_validator.onEditorPreparing($event)" (onToolbarPreparing)="_validator.onToolbarPreparing($event)" [dataSource]="datasource" [keyExpr]="keyExpr" [showBorders]="true" [columns]="columns"
  (onSelectionChanged)="onSelectionChangedLibrary($event)" [(selectedRowKeys)]="selectedRowKeys">

  <dxi-column *ngFor="let item of headers" [alignment]="item.aligment" [dataField]="item.name" [format]="item.format" [caption]="item.caption" [width]="item.width" [visible]="item.visible">

    <div *ngIf="item.dataList" class="bold-caption">
      <dxo-lookup [dataSource]="item.dataList" valueExpr="valueExpr" displayExpr="displayExpr">
      </dxo-lookup>
    </div>
  </dxi-column>
  <dxi-column caption="Editar" cssClass="bold-caption" alignment="center" width="5%" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplateEdit" [allowExporting]="false">
  </dxi-column>
  <dxi-column caption="Ver" cssClass="bold-caption" alignment="center" width="5%" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplateVer" [allowExporting]="false">
  </dxi-column>


  <dxi-column caption="Subir Archivo" cellTemplate="cellTemplateUpload" cssClass="bold-caption" wrapItemText="true" width="5%" [allowFiltering]="false" [allowSorting]="false" [allowExporting]="false">
  </dxi-column>
  <dxi-column caption="Anular" cellTemplate="cellTemplateDelete" cssClass="bold-caption" wrapItemText="true" width="5%" [allowFiltering]="false" [allowSorting]="false" [allowExporting]="false">
  </dxi-column>
  <!-- </ng-container> -->
  <dxo-paging [pageSize]="10" [pageIndex]="0" style="background: red;">
  </dxo-paging>

  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true" [showNavigationButtons]="true" [showInfo]="true" infoText="Página {0} del Total: {1} ({2} registros)"></dxo-pager>
  <dxo-selection [mode]="mode" selectAllMode="allPages" showCheckBoxesMode="always">
  </dxo-selection>
  <dxo-filter-row [visible]="filterActive">
  </dxo-filter-row>

  <dxo-export [enabled]="true" [formats]="['xlsx']" fileName="CRCA" class="success">
  </dxo-export>

  <dxo-summary>
    <dxi-total-item column="nombreAportante" displayFormat="Total Aportes:" alignment="end"> </dxi-total-item>
    <dxi-total-item column="valorNumero" summaryType="sum" displayFormat="{0}" valueFormat="$,###,###,##0.00">
    </dxi-total-item>
  </dxo-summary>

  <div *dxTemplate="let row of 'cellTemplateEdit'">
    <!-- [disabled]="disabledButtonEdit(row.data)" -->
    <dx-button icon="edittableheader" type="default"  (onClick)="editButton.emit(row.data)" title="Editar"></dx-button>
  </div>
  <div *dxTemplate="let row of 'cellTemplateVer'">
    <!-- [disabled]="disabledButtonFind(row.data)" -->
    <dx-button type="default" id="btnIndexVerCrca"  icon="pdffile" (onClick)="viewIndexCrcaButton.emit(row.data)" title="Ver Crca"></dx-button>
  </div>
  <div *dxTemplate="let row of 'cellTemplateUpload'">
    <!-- [disabled]="disabledButton(row.data)" -->
    <dx-button icon="upload" type="default"  (onClick)="uploadButton.emit(row.data)" title="Subir archivo"> </dx-button>
    <!-- <dx-button icon="upload" type="default"   (onClick)="uploadButton.emit(row.key)" title="Subir archivo"> </dx-button> -->
  </div>
  <div *dxTemplate="let row of 'cellTemplateDelete'">
    <!-- [disabled]="disabledButton(row.data)" -->
    <dx-button icon="trash" type="danger"  (onClick)="deleteButton.emit(row.key)" title="Anular"> </dx-button>
  </div>



  <!-- <div *dxTemplate="let row of 'cellTemplateIndex'">
    <div>{{row.rowIndex+1}}</div>
  </div> -->
</dx-data-grid>

<img src="../../../../assets/loaderVale.svg" *ngIf="!hasLoader" class="mt-3 logo-img" height="35" width="35" />
