/** ESTILOS PARA DAR FORMA A LOS CUADRO DE LOS MODULOS **/




::ng-deep:root {
  --rojo100: #ed5565;
  --rojoError100: #bd362f;
  --turquesa100: #18a78a;
  --azul100: #1c84c6;
  --azulInformativo100: #17a2b8;
  --verde100: #20983b;
  --verde75: #4e924d;
  --verdeExito100: #28a745;
  --gris100: #a9a9a9;
  --gris25: #d2d2d2;
  --gris50: #c5c4c4;
  --blanco100: white;
  --negro100: black;
  --negro75: #343a40;
  --anaranjado100: #f0ad4e;
  --amarillo100: #facd01;
  --celeste75: #17a2b8;
  --celeste100: #0598af;
}

/** ESTILOS PARA DAR COLOR AL FONDO DE LOS CUADROS DE LOS MODULOS **/
.rojo100 {
  background-color: var(--rojo100) !important;
  ;
  color: var(--blanco100) !important;
}

.turquesa100 {
  background-color: var(--turquesa100);
  color: var(--blanco100) !important;
}

.azul100 {
  background-color: var(--azul100);
  color: var(--blanco100) !important;
}

.azulInformativo100 {
  background-color: var(--azulInformativo100);
  color: var(--blanco100) !important;
}

.verde100 {
  background-color: var(--verde100) !important;
  ;
  color: var(--blanco100) !important;
}

.verdeExito100 {
  background-color: var(--verdeExito100);
}

.anaranjado100 {
  background-color: var(--anaranjado100) !important;
  color: var(--blanco100) !important;
}

.amarillo100 {
  background-color: var(--amarillo100) !important;
  color: var(--negro100) !important;
}

.gris100 {
  background-color: var(--gris100);
  color: var(--negro100);
}

.blanco100 {
  background-color: var(--blanco100);
}

.negro75 {
  background-color: var(--negro75);
  color: var(--blanco100) !important;
}


/** ESTILOS DE COLORES  **/

.rojo100-color {
  color: var(--rojo100);
}

.turquesa100-color {
  color: var(--turquesa100);
}

.azul100-color {
  color: var(--azul100);
}

.azulInformativo100-color {
  color: var(--azulInformativo100);
}

.verde100-color {
  color: var(--verde100);
}

.verde75-color {
  color: var(--verde75);
}

.verdeExito100-color {
  color: var(--verdeExito100);
}

.gris100-color {
  color: var(--gris100);
}

.anaranjado100-color {
  color: var(--anaranjado100);
}

.amarillo100-color {
  color: var(--amarillo100);
}

.negro75-color {
  color: var(--negro75);
}

/** BORDE DE NOTIFICACION DE LOS MODULOS **/
.rojo100-borde {
  border: 1px solid var(--rojo100);
}

.turquesa100-borde {
  border: 1px solid var(--turquesa100);
}

.azul100-borde {
  border: 1px solid var(--azul100);
}

.azulInformativo100-borde {
  border: 1px solid var(--azulInformativo100);
}

.verde100-borde {
  border: 1px solid var(--verde100);
}

.verdeExito100-borde {
  border: 1px solid var(--verdeExito100);
}

.anaranjado100-borde {
  border: 1px solid var(--anaranjado100);
}

.amarillo100-borde {
  border: 1px solid var(--amarillo100);
}

.gris100-borde {
  border: 1px solid var(--gris100);
}

.verde75-borde {
  border: 1px solid var(--verde75);
}

.celeste100-borde {
  border: 1px solid var(--celeste100);
}

.celeste75-borde {
  border: 1px solid var(--celeste75);
}

.negro75-borde {
  border: 1px solid var(--negro75);
}

.widget-text-box {
  margin-bottom: 10px;
  font-size: 11px;
  height: 56px;
  padding: 5px;
  background: #ffffff;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.widget-head-color-box {
  position: relative;
  border-radius: 5px 5px 0 0;
  margin-top: 2px;
  /*max-height: 140px;*/
  /*padding: 10px;*/
  color: #ffffff;
}

.widget-head-color-box .titulo-aplicacion {
  margin-bottom: 5px;
  height: 90px;
  padding: 8px;
}

.titulo-aplicacion h6 {
  color: var(--blanco100);
}

.widget-text-box p {
  color: #000;
}



.widget-head-color-box,
.widget-text-box {
  opacity: 1
}

.titulo-aplicacion,
.widget-head-color-box .icon i,
.notification-bubble {
  cursor: pointer;
}

.widget-head-color-box:hover,
.widget-text-box:hover {
  opacity: 0.8
}

.img-size-50 {
  width: 3rem;
}

.img-circle {
  border-radius: 50%;
}

.widget-head-color-box .icon>i.fa,
.widget-head-color-box .icon>i.fab,
.widget-head-color-box .icon>i.far,
.widget-head-color-box .icon>i.fas {
  font-size: 48px;
}

.widget-head-color-box .icon>i.glyphicon,
.widget-head-color-box .icon>i.ion {
  font-size: 60px;
}

.widget-head-color-box .icon>i.fa,
.widget-head-color-box .icon>i.fab,
.widget-head-color-box .icon>i.far,
.widget-head-color-box .icon>i.fas,
.widget-head-color-box .icon>i.glyphicon,
.widget-head-color-box .icon>i.ion {
  top: 20px;
  position: absolute;
  right: 20px;
  transition: all .3s linear;
}

.widget-head-color-box .icon {
  color: rgba(0, 0, 0, .15);
  z-index: 0;
}

.widget-head-color-box:hover .icon>i.fa,
.widget-head-color-box:hover .icon>i.fab,
.widget-head-color-box:hover .icon>i.far,
.widget-head-color-box:hover .icon>i.fas {
  font-size: 58px
}

.widget-head-color-box:hover .icon>i.glyphicon,
.widget-head-color-box:hover .icon>i.ion {
  font-size: 70px
}

.widget-head-color-box p,
.widget-head-color-box h6 {
  text-align: left;
  width: 95%;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}



/** NOTIFICACIONES DE MODULOS **/
.first-item,
.notification-menu-item:first-child {
  background: none;
  border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
}

.notification-menu-item:last-child {
  width: 100%;
  border-right: none;
  border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
}

.notification-menu-item.last-item {
  border-right: none;
}

.notification-menu-item a {
  letter-spacing: 0.5px;
  font-size: 13px;
  line-height: 28px;
  padding: 0 8px;
}

.notification-menu-item:hover a {
  letter-spacing: 0px;
  font-weight: bold;
}

.notification-bubble {
  border-radius: 4px;
  font-size: 12px;
  padding: 1px 9px;
}

.notification-bubble.show {
  display: block;
}

.notification-menu-item:hover .notification-bubble {
  top: -1px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 1px rgba(0, 0, 0, .2);
}

.notification-menu-item a {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.notification-bubble {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.notification-list-wrapper {
  min-height: 56px;
  margin-top: -66px;
  font-size: 10px;
  /*font-family:  Arial,Verdana,sans-serif;*/
  background: rgb(251, 251, 251);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(251, 251, 251, 1)), color-stop(11%, rgba(248, 248, 248, 1)), color-stop(100%, rgba(240, 240, 240, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#f0f0f0', GradientType=0);
  /* IE6-9 */
  background: linear-gradient(top, rgba(251, 251, 251, 1) 0%, rgba(248, 248, 248, 1) 11%, rgba(240, 240, 240, 1) 100%);
  /* W3C */
  position: relative;
  z-index: 1;
}

.notification-list-wrapper:before {
  display: block;
  content: '';
  width: 40px;
  height: 19px;
  /* background: transparent url(../../../../assets/core/weather/notificacion/list-pointer.png) no-repeat center bottom scroll; */
  position: absolute;
  left: 50%;
  margin-left: -15px;
  top: 0;
  margin-top: -18px;
  z-index: 2;
}

.notification-list-menu {
  list-style: none;
  padding-left: 12px;
}

.notification-list-menu-item {
  display: inline-block;
  /* float: left; */
  color: #bbb;
  text-transform: lowercase;
  padding: 1px 0;
  margin: 0 6px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.notification-list-menu-item:hover {
  border-bottom: 1px solid #ccc;
  color: #777;
}

.notification-list-menu i {
  padding: 5px 0;
  font-size: 18px;
  float: right;
  cursor: pointer;
  height: 22px;
  width: 22px;
  opacity: .6;
}

.notification-list-menu i:hover {

  opacity: .9;
}

.notification-list {
  overflow-y: auto;
  max-height: 260px;
  list-style: none;
  padding: 0 12px;
  clear: both;
  margin-bottom: 9px;
}

.notification-list-item {
  color: #666;
  padding: 3px;
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #fff;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.notification-list-item:first-child {
  border-top: none;
}

.notification-list-item:last-child {
  border-bottom: none;
}

.notification-list-item:hover {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.11) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.7)), color-stop(100%, rgba(255, 255, 255, 0.11)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.11) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.11) 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.11) 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3ffffff', endColorstr='#1cffffff', GradientType=0);
  /* IE6-9 */
  background: linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.11) 100%);
  /* W3C */
}

.notification-list-item:hover+.notification-list-item {
  border-top: 1px solid transparent;
}

.notification-list-item .message {
  display: block;
  margin-right: 22px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.notification-list-item i {
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 12px;
  height: 14px;
  width: 14px;
  line-height: 14px;
  z-index: 1;
  font-size: 1.5em;
  padding-left: 10px;
}

.notification-list[data-type=unread] i {
  display: block;
}

.ttw-notification .message {
  opacity: 0.9;
}

.ttw-notification i {
  opacity: 0.6;
}

.ttw-notification:hover .message,
.ttw-notification:hover i {
  opacity: 1;
}


.notification-list-item.show-icon .icon {
  display: block;
  height: 16px;
  width: 16px;
  float: left;
  margin-right: 6px;
}

.notification-list-item img {
  height: 16px;
  width: 16px;
}

.notification-list-item.show-icon .message {
  width: 160px;
  float: left;
}

.empty-list {
  text-align: center;
  font-style: italic;
}
