<!-- <a (click)="this.goTo('/patiens')" routerLinkActive="active">Contact</a> -->
<ul class="main-menu">
  <li class="active"><a [routerLink]="['/dashboard']"><i class="md fa-solid fa-house"></i> Inicio</a></li>
  <li>
    <!--[hidden]="!appGlobals.roleDoctor.getValue()"-->
    <a id="menu-calendar" [routerLink]="['/calendar']"><i class="md fa-solid fa-calendar-day"></i> Agenda</a>
  </li>
  <!-- <li class="active"><a [routerLink]="['/dashboard']"><i class="md fa-solid fa-house"></i> Inicio</a></li>
  <li> -->
  <!--[hidden]="!appGlobals.roleDoctor.getValue()"-->
  <!-- <a id="menu-calendar" [routerLink]="['/calendar']"><i class="md fa-solid fa-calendar-day"></i> Agenda</a>
  </li> -->
  <li class="sub-menu" *ngFor="let item of this.inputMenu">
    <a href=""><i class="md {{item.icono}}"></i> {{item.nombre}}</a>

    <ul>
      <li *ngFor="let subItem of this.item.menuItem">
        <a id="{{subItem.codigo}}" class="menu-table" [routerLink]="[subItem.link]"><i class="md {{subItem.icono}}"></i>
          {{subItem.nombre}}</a>
      </li>
      <!-- <li><a id="data-personal" class="menu-table" [routerLink]="['/notifications']"><i
            class="md fa-solid fa-users"></i>Notificaciones</a>
      </li> -->
    </ul>
  </li>
  <!-- [hidden]="!_globals.roleAdmin.getValue()" -->
  <!-- <li class="sub-menu">
    <a href=""><i class="md fa-solid fa-file-lines"></i> Reportes</a>

    <ul>
      <li><a class="menu-table" [routerLink]="['/accounting-all', 'all']">Estados de cuentas</a></li>
      <li><a class="menu-table" [routerLink]="['/charts/sale']">Ventas</a></li>
      <li><a class="menu-table" [routerLink]="['/billing']">Facturas</a></li>

    </ul>
  </li> -->
  <!-- [hidden]="!_globals.roleAdmin.getValue()" -->
  <!-- <li class="sub-menu">
    <a href=""><i class="md fa-solid fa-gear"></i> Configuración</a>

    <ul>
      <li><a class="menu-table" [routerLink]="['/clinics']">Clínica</a></li>
      <li><a class="menu-table" [routerLink]="['/employees']">Empleados</a></li>
      <li><a class="menu-table" [routerLink]="['/treatments']">Tratamientos</a></li>
    </ul>
  </li> -->

  <!-- <li>
   <a id="refresh" (click)="clearCache()"><i class="md md-refresh"></i> Actualizar versi&oacute;n</a>
  </li> -->
</ul>