
 <!DOCTYPE html>
 <html>
 <head>
   <title>A Meaningful Page Title</title>
   <!-- Javascript Libraries -->
   <!-- <script src="../../../../../js/jquery-3.7.0.min.js"></script> -->
 </head>

 <body>

   <div class="login-content">
     <div id="logoApp" class="text-center">
       <h1 class="f-300 pb-4">
         <img alt="" src="../../../../../assets/login/logoApp.png">
       </h1>
       <div class="row">
         <div class="md-12">

           <div class="lc-block " [ngClass]="forgotPasswordToggled">
             <form [formGroup]="forgotPasswordForm" (ngSubmit)="login()">
              <div class="mb-4" [hidden]="isSendEmail">
                <p class="text-left">Ingrese su correo para recuperar la contraseña</p>
                <div class="mb-4">
                  <div class="input-group">
                    <span class="input-group-text" id="basic-email"><i class="fa fa-envelope"></i></span>
                    <div class="fg-line left">

                      <input type="text" id="email" name="email" class="form-control" placeholder="Correo Electrónico" aria-describedby="basic-email" required maxlength="100" formControlName="email" (onPaste)="this._validatorService.validatePaste($event)"
                        (keypress)="this._validatorService.validateOnlyCharacter($event)">
                    </div>
                  </div>
                  <div *ngIf="this._validatorService.isValidFieldTouched(forgotPasswordForm,'email')" class="alert">
                    <div *ngIf="this._validatorService.isValidFieldRequired(forgotPasswordForm, 'email')">
                      {{this.menssage.required}}</div>
                    <div *ngIf="this._validatorService.isValidFieldMaxlength(forgotPasswordForm,'email')">
                      {{this.menssage.max100Character}}
                    </div>
                  </div>
                </div>
              </div>


              <div [hidden]="!isSendEmail">
                <p class="text-left">Se ha enviado un enlace a su correo para recuperar su contrase&ntilde;a</p>
              </div>

              <div class="loginItemLeft">
                ¿No tienes cuenta?
                <a data-block="#l-register" (click)="showBlock('register')">
                  Regístrate
                </a>
              </div>
              <div class="loginItemRight">
                ¿Ya tienes cuenta?
                <a data-block="#l-login" (click)="showBlock('login')">
                  Entrar
                </a>
              </div>



               <div class="loginButton">
                 <button class="btn bgm-teal">
                  Enviar
                 </button>
               </div>
             </form>
           </div>
         </div>
       </div>
     </div>
   </div>



 </body>

 </html>
